* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
}



.header {
    padding: 1rem 0 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
}

.header a {
    color: black;
}


.right-header {
    margin-right: 2rem;
    float: right;
    margin-right: 1rem;
}

.right-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-header a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.17rem;
    padding-right: 1rem;
    margin-right: 2rem;
}

.right-header i {
    display: none;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.63);
}

.left-header {
    color: black;
    font-size: 2rem;
    margin-left: 0.8rem;
}

.left-header img {
    height: 3.2rem;
    width: 21rem;
}

.right-header button {
    font-size: 1.17rem;;
    background-color: #484848;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-right: 2rem;
    border-radius: 1rem;
    padding: .4rem 1.4rem;
}


.header-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 9rem;
    background-color:  black;
}

.header-list {
    transition: 0ms;
    margin: .2rem 0;
    padding: .2rem 0;
    text-align: center;
    width: 90%;
    border-radius: .2rem;
    border: 1px solid rgba(199, 30, 30, 0.404);
}

.header-list:hover {
    border: 1px solid rgba(220, 184, 184, 0.404);
}

.header-list a {
    color: white;
}

.header-down {
    display: none;
}

#cross {
    font-size: 1.4rem;
    display: none;
}


    /* Responsive of header */

@media (max-width: 828px) {
    .left-header {
        margin-left: .3rem;
    }
}

@media (max-width: 673px) {
    .left-header {
        margin-left: .5rem;
    }

    .left-header li {
        font-size: 1.3rem;
    }
    .header {
        padding: .7rem 0 .7rem .4rem;
    }
}

@media (max-width: 527px) {
    
.right-header a {
    display: none;
}

.right-header i {
    color: white;
   display:block;
}
}



   /* landing page css */

.landing {
    margin-top: 4rem;
    /* border: 2px solid black; */
    padding: 0 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ladingLeft {
    width: 40%;
}

.ladingLeft p {
    margin-top: 2rem;
}



.landingRight {
    width: 44rem ;
}




   /* cards section  */


   .card-container {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .card {
    width: 22rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin: 2rem;
  }
  
  .card:hover {
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.188);
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

  .card-body a {
    margin: 0 2rem;
    margin-bottom: 1.1rem;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
  }
  
  .btn-secondary {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-secondary:hover {
    background-color: #333;
  }
  



  