<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <div class="aboutHeading">
        <h1>About Us</h1>
    </div>

    <div class="aboutDesc">
        <section>
            <div class="main">
                <div class="left">
                    <h3>Who we are</h3>
                    <p>Welcome to Doorstep Ease Services, your go-to platform for transforming essential home services
                        across
                        India. At Doorstep Ease Services, we understand the pressing challenges posed by inadequate
                        water and
                        plumbing facilities, insufficient pest control, and inefficient waste management. Our commitment
                        extends
                        beyond these concerns to address issues such as limited access to interior design, inadequate
                        HVAC
                        solutions, and potential safety risks in flooring and carpentry.</p>
                    <p>We recognize the impact of civil work neglect, the scarcity of quality painting services, and
                        inconsistent roofing repairs on the overall well-being and safety of your home. Through our
                        platform, we
                        are dedicated to providing comprehensive solutions by connecting you with reliable service
                        providers.
                        Our mission is to enhance the overall living environment, making it more secure and comfortable
                        for you.
                    </p>
                    <p>Explore our website to discover how Doorstep Ease Services is reshaping essential home services,
                        offering
                        a seamless and reliable experience for a safer and more comfortable living space.</p>
                </div>
                <div class="right">
                    <img src="assest/about-illus.jpg" alt="logo">
                </div>
            </div>
        </section>

        <section>
            <h3 id="aboutDesGap"></h3>
            <div class="main">
                <div class="left">
                    <img src="assest/about-illus (2).jpg" alt="logo">
                </div>
                <div class="right">
                    <h3>How We do it</h3>
                    <p>Our Company provides a platform that allows skilled and experienced professionals to connect with users
                        looking for specific services. Once on the platform, our match-making algorithm identifies professionals
                        who are closest to the user's requirements and available at the requested time and date.</p>
                        <p>Our company operates a dynamic platform designed to seamlessly connect skilled professionals with users seeking specific services. Through our innovative match-making algorithm, users input their service requirements, allowing our system to swiftly identify and pair them with nearby professionals who align with their needs. Not only do we focus on matching expertise, but we also prioritize availability, ensuring that professionals are accessible at the requested time and date. This streamlined approach ensures convenience and efficiency for both users and professionals, creating a hassle-free experience in accessing the required services.</p>
                </div>
            </div>
        </section>


    </div>

    <div class="space"></div>

</body>

</html>

