<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Service Request Form</title>
    <link rel="stylesheet" href="addservices.css">
    <style>
       

        label {
            display: block;
            margin: 10px 0 5px;
            color: #555;
        }

        input[type="text"],
        input[type="tel"],
        textarea,
        select,
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>

    <h2> Add Service Detail Form</h2>

    <form action="/IDdetail" method="post">
        <label for="title">Serive Name :</label>
        <input type="text" id="title" name="title" required="true" placeholder=" Title">

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" required ="true" placeholder="Description"></textarea>

    
        <select id="upperDropdown" name="upperDropdown" required>
                <option value="plumbing">Plumbing</option>
                <option value="carpentry">Carpentry</option>
                <option value="HomeCleaning">Home Cleaning</option>
                <option value="PaintServices">Paint Services</option>
                <option value="Electrician">Electrical Services</option>
                <option value="WaterPurification">Water Purification Services</option> //will see it later on
                <option value="InteriorDesign">Interior Designn</option>
                <option value="KitchenCleaning">Kitchen Cleaning</option>
                <option value="PestControlServices">Pest Control</option>
                <option value="RoofingRepairs">Roofing Repairs</option>
                <option value="CivilWork">Civil Work</option>
                <option value="HVACServices">HVAC Services</option>
      
        </select>


        <label for="price">Estimated Cost:</label>
        <input type="number" name="price" placeholder="price" required = "true">
        <!-- <select id="lowerDropdown">
    
        </select> -->


        <!-- <label for="image">Upload Image:</label>
        <input type="file" id="image" name="image" accept="image/*"> -->

        <button type="submit">Submit</button>
    </form>


    

    <script src="addservices.js"></script>
</body>
</html>