* {
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    padding-right:40px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
 

  h2 {
    text-align: start;
    font-size: 3.4rem;
    color: #333;
    margin-bottom: 50px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #9e9e9e;
    border-radius: 6px;
    background-color: #ededed;
  }
  
  button {
    padding: 10px 60px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  

  .illust img {
    height: 35rem;
  }