* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
}

body {
    text-align: center;
    background-color: #cecece21;
}

.tar {
    padding: 2rem 0;
    margin: 0 auto;
    width: 60%;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* width: 100%; */

}

h5 {
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
}

.des {
    /* font-size: 1.7rem; */
    margin: .8rem 0;
    
}



.dess {
    font-size: 1rem;
    font-weight: 600;
}
.rup {
    font-size: 1.25rem;
    color: green;
    font-weight: 700;
}
#only {
    color: rgba(0, 0, 0, 0.781);
}
span {
    font-size: 1.1rem;
}

.opt {
    display: none;
}

#btn2 {
    display: none;
}

.sec {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: rgba(39, 202, 202, 0.322);
    border-radius: 1rem;
    margin: 2rem;
    padding: 2rem;
    width:59%;
    text-align: start;
    border: 1.2px solid black;
   
        background: linear-gradient(45deg, rgba(69, 88, 255, 0.137) 33%, transparent 1%),
                    linear-gradient(-45deg, rgba(69, 88, 255, 0.137) 33%, transparent 1%);
        background-size: 5rem;
    
    
}

.img img {
    height: 18rem;
    /* width: 50%; */
}

h2 {
    background-color: #fff;
    padding: 1.5rem;
    font-size: 2.2rem;
    margin-top: 2rem;
}

.name {
    
    font-size: 2.3rem;
    margin-bottom: .5rem;
    font-weight: 700;
}
#space {
    margin-bottom: 5rem;
}

button {
    /* margin : .5rem 0 5rem 0; */
    cursor: pointer;
    border: 1px solid black;
    border-radius: .5rem;
    /* box-shadow: 0 0 2rem rgba(0, 0, 0, 0.237); */
    padding: .5rem 3rem;
}

.main {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.right img {
    padding: 2rem;
}